body{
	background-image: url(../img/bg12.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% 120%;
}

.warp{
	width: 960px;
	margin: 0 auto;
}
.block-game{
	display: flex;
	justify-content: space-between;

}
h1{
	min-height: 40px;
	font-size: 32px;
	background: rgba(40, 90, 255, 0.6);
	text-align: center;
	padding: 20px 0;
	color: #f6f6f6;
	font-family: "Arial", sans-serif;
}
img{
	margin-left: 250px;
}
p{
	width: 200px;
	font-size: 22px;
	color: #fff;
	background: rgba(100,10,100, 0.7);
	padding: 30px;
	margin: 0 auto;
	border-radius: 50%;
	text-transform: uppercase;
	text-align: center;
	align-self:  center;
}
